<div id="<%= dom_id bill %>">
  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bill.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bill.status %>
  </p>

  <p>
    <strong>Bill reference:</strong>
    <%= bill.bill_reference %>
  </p>

</div>
