<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Filtered Bills</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .date-range {
      text-align: center;
      margin-bottom: 20px;
    }

    .date {
      font-weight: bold;
      font-size: 1.1em; /* Increase font size */
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid #000;
      padding: 8px;
      text-align: center;
    }
    .generated-at {
      text-align: right;
      font-size: 10px;
      margin-top: 20px;
    }
    .balances {
      text-align: right;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>XYZ Company Bill</h1>
    <div class="date-range">
      <p>Bills from <span class="date"><%= Date.parse(@from_date).strftime("%e %b %Y") %></span> to <span class="date"><%= Date.parse(@to_date).strftime("%e %b %Y") %></span></p>
    </div>

    <div class="generated-at">
      <p>Generated at: <%= Time.now.strftime("%d %b %Y %H:%M:%S") %></p>
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Refernce</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.created_at.strftime("%e %b %Y") %></td>
            <td><%= bill.bill_reference %></td>
            <td><%= bill.amount %></td>
            <td><%= bill.description %></td>
            <td><%= bill.status.upcase %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div class="balances">
      <p> Balance IN: <%= @balance_in %></p>
      <p> Balance OUT: <%= @balance_out %></p>
      <% @accounts.each do |account| %>
        <p>
          <%= "#{account.account_title.upcase} Balance: #{account.CurrentBalance}"%>
        </p>
      <% end %>
    </div>
  </div>
</body>
</html>
