<div class="max-w-md mx-auto py-6 px-4">
  <p class="text-green-500"><%= notice %></p>

  <%= render @bill %>

  <div class="mt-6 flex justify-between">
    <%= link_to "Edit this bill", edit_bill_path(@bill), class: "text-indigo-600 hover:text-indigo-900" %>
    <%= link_to "Back to bills", bills_path, class: "text-indigo-600 hover:text-indigo-900 ml-4" %>
    <%= button_to "Destroy this bill", @bill, method: :delete, data: { confirm: "Are you sure?" }, class: "inline-flex items-center justify-center bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
