<!DOCTYPE html>
<html>
  <head>
    <title>FinanceManagment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# Include the tailwind css %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag('ModalScript.js') %>
    

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
