<!DOCTYPE html>
<html>
  <head>
    <title>FinanceManagment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# Include the tailwind css %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag('ModalScript.js') %>
    

    
  </head>

  <body>
      <%= render 'layouts/navbar' %>
      <% if notice %>
      <p class="text-green-500 text-xl font-bold border-2 border-green-100 rounded-lg p-4 shadow-lg text-center"> <%= notice %> </p>

      <% end %>

    <%= yield %>
  </body>
</html>
